*, *::before, ::after{
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(50, 174, 236,0.5) , #00FF6e);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,90px);
    grid-template-rows: minmax(120px,auto) repeat(5,80px);
    

}
.calculator-grid > button{
    cursor: pointer;
    font-size: 1.4rem;
    border: 1px solid white;
    background-color: rgba(237, 250, 250, 0.9);
    outline: 1px solid rgb(247, 181, 192);
}
.calculator-grid>button:hover{
    background-color:  rgba(237, 250, 250, 0.75);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,0.77);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 12px;
    word-wrap: break-word;
    word-break: break-all;
    height: 120px;
    margin-top: 80px;

}

.output .prev-operand{
    color: rgba(255,255,255,.65);
    font-size: 1.5rem;
}

.output .curr-operand{
    color: rgba(255,255,255);
    font-size: 2.5rem;
}




